.breadcrumb {
    background-color: var(--background-color);
    padding: var(--spacing-small) var(--spacing-medium);
    border-bottom: 1px solid var(--shadow-color);
    font-size: 14px;
    margin-left: 6em;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-small);
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.breadcrumb li:not(:last-child)::after {
    content: ">";
    margin-left: var(--spacing-small);
    color: var(--secondary-text-color);
}

.breadcrumb a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition-fast);
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: var(--primary-hover);
}
