/* Dashboard Container */
.dashboard-container {
    width: 100%;
    max-width: 900px;
}

/* Date Navigation */
.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
}

.date-navigation h2 {
    font-size: 18px;
    font-weight: var(--heading-font-weight);
}

/* Dashboard Grid */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--spacing-medium);
}

/* Full Width Card */
.full-width {
    grid-column: span 2;
}

/* Entries Grid */
.entries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: var(--spacing-small);
}

/* Loader */
.loader {
    width: 25px;
    height: 25px;
    border: 4px solid var(--primary-color);
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: var(--spacing-small) auto;
}

/* Mood Card */
.mood-card {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Tags Card */
.tags-card .tag {
    display: inline-block;
    background-color: #efefef;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
